<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pnplab.phenotype_example">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="org.pnplab.phenotype_example.MainApplication">

        <!--
        help diagnose facebook flipper (debugging framework) integration issues
        and other problems.
        cf. https://fbflipper.com/docs/getting-started.html
        -->
        <activity android:name="com.facebook.flipper.android.diagnostics.FlipperDiagnosticActivity"
                android:exported="true"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>